<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink=''>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="currency">Currency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="wallet">Wallet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" disabled>DOLAR <span class="text-success" *ngIf="dolarFlow === 1">↑</span><span class="text-danger" *ngIf="dolarFlow === 2">↓</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" disabled>BITCOIN <span class="text-success" *ngIf="btcFlow === 1">↑</span><span class="text-danger" *ngIf="btcFlow === 2">↓</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" disabled>EURO <span class="text-success" *ngIf="euroFlow === 1">↑</span><span class="text-danger" *ngIf="euroFlow === 2">↓</span></a>
      </li>
    </ul>
  </div>
</nav>

<main class="container py-5">
  <h1 class="text-center">Carlos Wallet</h1>

  <div class="container-fluid d-flex py-5">
    <div class="col-6 d-flex flex-column align-items-center">
      <p><strong>Nome:</strong> <span> Carlos Eduardo S. Martins</span></p>
      <p><strong>RA:</strong> <span> 0050831921041</span></p>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <a href="http://www.github.com/carlosemartins97">Acesse aqui o meu GitHub!</a>
    </div>
  </div>

  <section class="container">
    <router-outlet></router-outlet>
  </section>
</main>